/MiWi DE Demo/MiWi Demo Kit/MiWiDemoBoard/build/
/MiWi DE Demo/MiWi Demo Kit/MiWiDemoBoard/dist/
/MiWi DE Demo/MiWi Demo Kit/MiWiDemoBoard/debug/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/MiWi_Demo_Board/MiWiDemoBoard/build/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/MiWi_Demo_Board/MiWiDemoBoard/debug/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/MiWi_Demo_Board/MiWiDemoBoard/dist/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/Wireless_Eval_Board/MiWiToWiFiGatewayDemo/.generated_files/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/Wireless_Eval_Board/MiWiToWiFiGatewayDemo/build/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/Wireless_Eval_Board/MiWiToWiFiGatewayDemo/debug/
/Combo/MiWi Protocol to WiFi Wireless Demo Kit/Wireless_Eval_Board/MiWiToWiFiGatewayDemo/dist/
/TCPIP/Demo App/Obj-XC32-EX16_ENC28/
/TCPIP/Demo App/MPLAB.X/.generated_files/
/TCPIP/Demo App/MPLAB.X/build/
/TCPIP/Demo App/MPLAB.X/debug/
/TCPIP/Demo App/MPLAB.X/dist/
/TCPIP/Demo App/XC32-EX16_ENC28.X/.generated_files/
/TCPIP/Demo App/XC32-EX16_ENC28.X/build/
/TCPIP/Demo App/XC32-EX16_ENC28.X/dist/
/TCPIP/Demo App/XC32-PIC32_ETH_SK_ETH795.X/build/
/TCPIP/Demo App/XC32-PIC32_ETH_SK_ETH795.X/debug/
/TCPIP/Demo App/XC32-PIC32_ETH_SK_ETH795.X/dist/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 1/MPLAB.X/build/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 1/MPLAB.X/debug/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 1/MPLAB.X/dist/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 2/MPLAB.X/build/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 2/MPLAB.X/debug/
/MiWi DE Demo/Basic Demos/Feature Demo/Node 2/MPLAB.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/Node 1/MPLAB.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/Node 1/MPLAB.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/Node 1/MPLAB.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/Node 2/MPLAB.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/Node 2/MPLAB.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/Node 2/MPLAB.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/PanCoordinator/Pan_Coordinator.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/PanCoordinator/Pan_Coordinator.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/PanCoordinator/Pan_Coordinator.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/Coordinator/Coordinator.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/Coordinator/Coordinator.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/Coordinator/Coordinator.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson/MiWiLesson.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson/MiWiLesson.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson/MiWiLesson.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson2/MiWiLesson2.X/build/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson2/MiWiLesson2.X/debug/
/MiWi DE Demo/Basic Demos/Simple Example/MiWiLesson2/MiWiLesson2.X/dist/
/MiWi DE Demo/MiWi PRO Test Interface/MiWi PRO Test Interface - PIC32.X/build/
/MiWi DE Demo/MiWi PRO Test Interface/MiWi PRO Test Interface - PIC32.X/debug/
/MiWi DE Demo/MiWi PRO Test Interface/MiWi PRO Test Interface - PIC32.X/dist/
/MiWi DE Demo/8-bit Wireless Development Kit - 2.4 GHz IEEE 802.15.4/8-bit WDK Demo/WDK_Demo.X/build/
/MiWi DE Demo/8-bit Wireless Development Kit - 2.4 GHz IEEE 802.15.4/8-bit WDK Demo/WDK_Demo.X/debug/
/MiWi DE Demo/8-bit Wireless Development Kit - 2.4 GHz IEEE 802.15.4/8-bit WDK Demo/WDK_Demo.X/dist/
/MiWi DE Demo/Basic Demos/Simple Example/Node 2/MPLAB.X/main.err
/MiWi DE Demo/Basic Demos/Simple Example/Node 2/MPLAB.X/TimeDelay.err
/MiWi DE Demo/pic18f-ext_interrupt.X/build/
/MiWi DE Demo/pic18f-ext_interrupt.X/debug/
/PIC18_Explorer_Demo.X/build/
/PIC18_Explorer_Demo.X/debug/
/PIC18_Explorer_Demo.X/dist/
/MiWi DE Demo/MiWi PRO Test Interface/MiWi PRO Test Interface - PIC32.X/.generated_files/
